@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;

}

:root {
    --color-body-text: #565973;
    --color-body-background: #ffffff;
    --color-body-background-grey: #F3F6FF;
    --color-heading-text: #0B0F19;
    --color-button-text: #ffffff;
    --color-button-background: #6366F1;
    --color-button-hover-background: #0B0F19;
    --color-button-download-text: #FFFFFF;
    --color-button-download-background: #0B0F19;
    --color-button-download-hover-background: #0B0F19;
}

[data-theme="dark"] {
    --color-body-text: hsla(0, 0%, 100%, 0.5);
    --color-body-background: #0B0F19;
    --color-body-background-grey: hsla(0, 0%, 100%, 0.04);
    --color-heading-text: #FFFFFF;
    --color-button-text: #ffffff;
    --color-button-background: #6366F1;
    --color-button-hover-background: #6d6e72;
    --color-button-download-text: #33354D;
    --color-button-download-background: #EFF2FC;
    --color-button-download-hover-background: #0B0F19;

}

html, body {
    margin: 0;
    scroll-behavior: smooth;
    color: var(--color-body-text);
    background-color: var(--color-body-background);
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--color-heading-text);
}

button, .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 40px;
  font-weight: 600;
  font-size: 14;
  color: var(--color-button-text);
  background-color: var(--color-button-background);
  padding: 5px 15px;
  border-radius: 4px;
  text-decoration: none;
  transition: background 0.15s ease-in-out;
}

button:hover, .btn:hover {
  background-color: var(--color-button-hover-background);
}

button img, .btn img {
  height: 100%;
  width: auto;
  padding: 5px
}

.container {

    width: 100%;
    max-width: 1320px;
    padding: 0 1rem;
    margin: 0 auto;
    
    @media (width >= 768) {
        max-width: 720px;
    }
    @media (width >= 992) {
    max-width: 960px;
    }
    @media (width >= 1400px) {
    max-width: 1320px;
    }

}

.darkmode-text {
    display: none;
    color: #565973;
    font-weight: 600;

    @media(width >= 768px) {
        display: flex;
    }
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #9397AD;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #6366F1;
}


input:checked + .slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}

/* ==============================================
  MARK:Header Section
============================================== */
.header-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.actions {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}
.account {
    display: flex;
}

.top-nav {
    margin-left: 1rem;
    padding-top: 5px;
    
    @media (width >= 768px) {
        display:none;
    }
}



/* ==============================================
  MARK:Hero Section
============================================== */

.hero {
    background: #6366F1;
    background: linear-gradient(0deg, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(255, 255, 255, 0.07) 83%);
    padding-top: 5rem;
}

.hero-area {
    display: flex;
    justify-content: space-between;
}

.hero-content {
    display: flex;
    flex-direction: column;
    width: 526px;
    
}

.hero-title {
    font-size: 56px;
    font-weight: 800;
    margin-bottom: 20px;
}

.hero-ingress {
    font-size: 18px;
    font-weight: 400;
    margin:0;
    padding-right: 50px;
    padding-bottom: 50px;
}

.download-buttons {
    display: flex;
    gap: 25px;
}

.google-store-button {
    display: flex;
    align-items: center;
    width: 180px;
    height: 52px;
    gap: 8px;
    background-color: var(--color-button-download-background);
    color: var(--color-button-download-text);
    padding-left: 20px;
    border-radius: 8px;
    text-decoration: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.app-store-button {
    display: flex;
    align-items: center;
    width: 180px;
    height: 52px;
    gap: 8px;
    background-color: var(--color-button-download-background);
    color: var(--color-button-download-text);
    padding-left: 20px;
    border-radius: 8px;
    text-decoration: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.button-text-container {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}

.button-small-text-apple {
    font-size: 12px;
}

.button-small-text-google {
    font-size: 10px;
}

.button-large-text {
    font-size: 20px;
    font-weight: 400;
}

.button-icon {
    width: 25px;
    height: 30px;
    
}


.hero-image {
    display: flex;
    
}

.hero-phone-pic {
    width: 100%;
    height: 100%;
}

/* ==============================================
  MARK:Brands Section
============================================== */

.brands {
   
    background-color: var(--color-body-background);
}
.brand-area {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-top: 96px;
    
}

.brand {
    
    width: 196px;
    height: 100px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    flex-shrink: 0;
    display: flex;
    justify-content: center; 
    align-items: center;     
    
}

.brand img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
}

#brand6 {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* ==============================================
  MARK:Features Section
============================================== */

.features {
    padding-top: 112px;
    padding-bottom: 5rem;
}

.features-content {
    display: flex;
    gap: 195px;
    
}

.features-pic{
    width: 348px;
    height: auto;
}

.app-features-heading {
    font-size: 20px;
   
    
    
}

.heading-big-text {
    font-size: 40px;
    font-weight: 800;
    margin: 0;

}

.heading-small-text {
    font-size: 18px;
    margin-top: 1rem;
    margin-bottom: 4rem;


}

.features-icon-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    
}

.features-icon-box {
    
    margin-bottom: 2rem;
    display: grid;
    grid-template-areas:
        "features-box-img features-box-text"
        "features-box-img features-box-text";  
}

.feature-icon-box img {
    grid-area: features-box-img;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
}


.features-box-heading {
    grid-area: features-box-heading;
    margin-top: 0px;
    margin-bottom: 13px;
    margin-left: 1.5rem;
    font-weight: 800;
}

.features-box-ingress {
    grid-area: features-box-ingress;
    margin-left: 1.5rem;
    margin-top: 0;
    font-size: 16px;
    margin-right: 20px;
}

/* ==============================================
  MARK:How Does It Work Section
============================================== */

.how-does {
    background-color: var(--color-body-background-grey);
}

.how-does-content {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.how-does-heading {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 800;
    font-size: 40px;
}

.how-does-pictures {
    display: flex;
    gap: 6rem;
    justify-content: center
}

.hdpic {
    width: 328px;
}

.how-does-end-text {
    margin-top: 3rem;
    
}

.how-does-end-text-large {
    text-align: center;
    font-size: 24px;
    font-weight: 800;

}

 .how-does-end-text-small {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* ==============================================
  MARK:App Features Section
============================================== */

.app-features-content {
    display: flex;
    flex-direction: column;  
    max-width: 1076px;
    padding-top: 100px;
    padding-bottom: 3rem;
    gap: 80px;
    margin: 0 auto;
    padding-bottom: 50px;
    padding-right: 0%;
    
}

.money-transfer {
    display: flex;
    gap: 120px; 
}

.money-transfer-text {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.money-transfer-header {
    font-weight: 800;
    font-size: 32px;
}

.money-transfer-list {
    list-style-type: none;
    padding-left: 0;     
    margin: 0;          
  
}

.money-transfer-list li {
    display: flex;        
    align-items: center; 
    gap: 12px;            
    margin-bottom: 15px;  
}

.money-transfer-list li::before {
    content: '';
    display: block;
    background-image: url('/Images/Icons/money-transfer-list-icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px; 
}

.app-features-button-text {
    margin: 0;
    height: 44px;
    width: 160px;
    border: 0;
}

.payment {
    display:flex;
    gap: 25px;
}

.money-transfer-pic {
    height: 526px;
    width: auto;
}

.payment-pic {
    height: 526px;
    width: 500px;
}


.payment-text {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;    
}

.payment-big-text {
    padding-top: 55px;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 15px;
}

.payment-small-text {
    margin-top: 5px;
    margin-bottom: 2rem;
    font-size: 16;
}

.payment-icon-row {
    display: flex;
    gap: 20px; 
    width: 100%;
    margin-bottom: 15px; 
}

.payment-icon-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.payment-icons {
    width: 60px;
    height: auto;
    margin-top: 20px;
}

/* ==============================================
  MARK:Testimonials Section
============================================== */

.testimonials {
    background-color: var(--color-body-background-grey);
}

.testimonials-content {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    padding-top: 70px;  
    padding-right: 0px;
    padding-bottom: 75px; 
    width: 1300px;
}
    [data-theme="dark"] .testimonials-content {
        gap: 20px;
}

.testimonials-header {
    font-size: 40px;
    font-weight: 800;
    margin-right: 110px;
    margin-top: 0;
}

.testimonials-pic {
    height: 350px;
    width: auto;
}



/* ==============================================
  MARK:FAQ Section
============================================== */

.faq-content {
    padding: 100px 0px 100px 0;
    display: flex;
    width: 1297px;
    gap: 120px;
}

.faq-question {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 417px; 
}

.faq-question-box {
    display: flex;
    gap: 1.5rem;
    margin-top:10px;
}

.faq-box-text {
    font-size: 14px;
}

.faq-large-text {
    font-size: 32px;
    font-weight: 800;
    margin: 0;
    padding-right: 120px;
}

.faq-small-text {
    padding-right: 30px;
    margin: 0;
    font-size: 18px;
}

.faq-question-boxes {
    padding: 1.5rem;
    border: 1px solid rgba(128, 128, 128, 0.211);
    border-radius: 8px;
    
}

.contact-arrow {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-bottom: 1rem;
    
}

.contact-blue {
    color: #6366F1;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
}

.contact-green {
    color: #22C55E;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
}

.accordion {
    flex-grow: 1;
    max-width: 746px;
    display: flex;
    flex-direction: column;
    gap: 16px  
}

.custom-select {
    position:relative;
    width: 100%;
    border-radius: 8px;
    border: 1px #d4d7e5;
    box-shadow: 0px 3px 3px 1px rgba(99, 102, 241, 0.1);
    transition: all 0.3s ease;
}

.select-box {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: none;
    padding: 15px 15px;
    font-weight: 600;
    color:#0B0F19;
}

.arrow-button {
    background-image: url('/Images/Buttons/arrow-unclicked.svg');
    width: 36px;
    height: 36px;
    background-size: cover;    
}

.custom-select.active .arrow-button {
    background-image: url('/Images/Buttons/arrow-clicked.svg');
}

.custom-select.active .options {
    display: block;
}

.options { 
    top:100%;
    left: 0;
    width: 100%;
    border: 1px #d4d7e5;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 4px 6px rgba(99, 102, 241, 0.1);
    display: none;
    padding: 0 15px;
    padding-bottom: 15px;
}

.option {
    font-size: 14px;
}

.selected {
    font-size: 16px;
    font-weight: 600;
    color: var(--color-heading-text);
}

/* ==============================================
  MARK:Subscribe Section
============================================== */

.sub-content {
    width: 1296px;
    display: flex;
    background-color: var(--color-body-background-grey);
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 50px 100px 50px 100px;
    gap: 30px;
   
    
}

.bell-h2 {
    display: flex;
    flex-basis: 50%;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.your-email {
    display: flex;
    flex-grow: 1;
    max-width: 472px;
    
}

.sub-button-area {
    width: auto;

}

.input-container {
    flex-grow: 1;
    margin-left: 50p; 
}

.input-container input {
    background-image: url("/Images/Icons/bx-envelope.svg");
    padding: 15px 75px 15px 40px;
    background-repeat: no-repeat;
    border-radius: 8px 0px 0 8px;
    background-position: 15px center;
    border: 1px solid rgba(128, 128, 128, 0.253);
    color: #B4B7C9;
    font-size: 16px;
    width: 100%;
}

[data-theme="dark"] .input-container input {
    background-color: var(--color-body-background-grey); 
}

/* ==============================================
  MARK:Footer Section
============================================== */

.footer-content {
    display: flex;
    padding: 50px;
    justify-content: center;
    color: #9397AD;
    font-size: 14px;
}

.sub-button {
    border-radius: 0 8px 8px 0;
    border: none;
    height: auto;
    width: 142px;
    flex-grow: 1;
    width: 25%;
}